
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<title>Register</title>
</head>
<body>

	
	{% for message in get_flashed_messages() %}
	   <div class="flash">{{ message }}</div>
	{% endfor %}   

<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="name">Name</label>
    <input type="name" name="name" id="name" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
</form>

</body>