<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Aas</title>

</head>
<body>
 <form method="post">
    <label for="Amount">Enter the Amount</label>
    <input name="Amount" id="Amount" value="{{ request.form['Amount'] }}" required>    
    <input type="submit" value="Save">
  </form>


	</body>