<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Aas</title>
</head>
<body>

  <h1>Due Amount is {{ due }} </h1>

 <form method="post">
    <label for="amount">Enter the amount</label>
    <input name="amount" id="amount" value="{{ request.form['amount'] }}" required>    
    <input type="submit" value="Save">
  </form>


	</body>